
button{
    width: 223px;
    height: 60px;
    font-size: 26px;
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    border: 2px solid rgb(24, 41, 59);
    margin: 8px; 
    cursor: pointer;
    background-color: #b9ebf2;
}
button:hover{
    background-color: rgb(0, 66, 198);
}
